# Get LangChain API from https://smith.langchain.com/ and specify below:
LANGCHAIN_API_KEY=""

# Enable logging traces to LangSmith
LANGCHAIN_TRACING_V2="true"

# OpenAI base url (for LM Studio use "http://localhost:<server port>/v1")
OPENAI_API_BASE="http://localhost:1234/v1"

OPENAI_API_KEY="lm-studio"

# Base path to store the datasets
DATASETS_BASE=""

# Base path to store the output models
OUTPUT_MODELS_BASE=""

TAVILY_API_KEY = ""

OPENAI_API_KEY = ""
